/* Custom styles */
body {
  padding-top: 70px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem;
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
}

.btn-3d {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-3d:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
.row-even {
  background-color: #f2f2f2;
}

.row-odd {
  background-color: #e0e0e0;
}

/* Define row colors here */
.row-green {
  background-color: lightgreen;
}

.row-red {
  background-color: lightcoral;
}



